<div class="container">

    <table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>
              <input [(ngModel)]="planemakeFilter" class="form-control"
              (keyup)="filterFn()" placeholder="Filter">
              
              Plane Model</th>
            <th>
              <input [(ngModel)]="planemodelFilter" class="form-control"
              (keyup)="filterFn()" placeholder="Filter">
              
              Plane Make</th>
            <th>
              <input [(ngModel)]="planeregistrationFilter" class="form-control"
              (keyup)="filterFn()" placeholder="Filter">
              
              Plane Registration</th>
            <th>
              <button type="button" class="btn btn-primary float-end m-4" 
              data-bs-toggle="modal" data-bs-target="#exampleModal" 
              (click)="addClick()">
              Add Sighting
              </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sighting of sightings">
            <td>{{sighting.planemake}}</td>
            <td>{{sighting.planemodel}}</td>
            <td>{{sighting.planeregistration}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1"
                data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="editClick(sighting)">
                Details
                </button>
            </td>
        </tr>
    </tbody>
    </table>

<!-- Modal -->
  <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel">Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeClick()">

          </button>
        </div>
        <div class="modal-body">
            <app-add-sighting [sighting]="sighting" (spottersChange)="refreshSightings" *ngIf="ActivateAddEditComp" style="max-width: 300px;">
            </app-add-sighting>
        </div>
      </div>
    </div>
  </div>
    
</div>

