


<div  *ngIf="sighting">
    <div *ngIf="succmsg" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> successfully added.
    <button (click)="CloseMsg()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div *ngIf="errmsg" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!</strong> Record not added. Please check again.
    <button (click)="CloseMsg()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
    <div class="row">
        <div class="col">
            <div class="row">
                <label class="col-sm-2 col-form-label" >Plane Make</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control m-1" [(ngModel)]="sighting.planemake"
                    placeholder="Enter Plane Make" style="max-width: 300px;">
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label">Plane Model</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control m-1" [(ngModel)]="sighting.planemodel"
                    placeholder="Enter Plane Model" style="max-width: 300px;">
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label">Plane Registration</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control m-1" [(ngModel)]="sighting.planeregistration"
                    placeholder="Enter Plane Registration" style="max-width: 300px;">
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label">Location</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control m-1" [(ngModel)]="sighting.location"
                    placeholder="Enter Location" style="max-width: 300px;">
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label">Date Time</label>
                <div class="col-sm-10">
                    <!-- <mat-form-field> -->
                        <input matInput type="datetime-local" class="form-control m-1" [(ngModel)]="sighting.dateTime" style="max-width: 300px;">
                    <!-- </mat-form-field> -->

                      
                </div>
            </div>
           
        </div>
        <div class="col">
             <div class="row">
                <div class="row">
                    <img src="{{sighting.photo}}" alt="{{sighting.photo}}" *ngIf="sighting.photo && !imageSrc" class="m-1" style="height: 250px; width: 425px;">
                    <img [src]="imageSrc" *ngIf="imageSrc" class="m-1" style="height: 250px; width: 425px;">
                </div>
                <!-- <label class="col-sm-2 col-form-label">Photo</label> -->
                <div class="col-sm-10">
                    <input type="text" class="form-control m-1" [(ngModel)]="imageSrc" hidden>
                    <input type="file"  (change)="onFileChange($event)" id="selectedFile" [(ngModel)]="imageSrc" style="display: none;"/>
                    <input type="button" class="form-control m-1" style="min-width: 425;" value="Browse..." onclick="document.getElementById('selectedFile').click();" />
                </div>
            </div>
        </div>
    </div>

            <button type="submit" (click)="addSighting(sighting)" class="btn btn-primary" *ngIf="!sighting.id">
                Add
            </button>

            <button (click)="UpdateSighting(sighting)"  class="btn btn-primary m-1" *ngIf="sighting.id">
                Update
            </button>
            <button (click)="deleteClick(sighting)"  class="btn btn-light m-1" *ngIf="sighting.id">
                Delete
            </button>
</div>